html, body {
  height: 100%;
  cursor: pointer;
}

body {
  color: #235b58;
  font-family: 'Dekko';
  background-image: linear-gradient(to bottom right, #66FCF1 , #45A29E);
  overflow: hidden;
}

.content {
  border: 10px outset #48ada6;
  border-radius: .1em; 
  transition: .7s;
  height: 100%;
}

.content:hover {
  border: 10px outset #88dcd6;
}

.contentText::-webkit-scrollbar {
  display: none;
}

.contentText {
  font-size: 25px;
  padding: 1.1em 0em 0 0 ;
  height: 65%;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  position: relative;
}

.effect { 
  position: absolute;
  opacity: 60%;
  background-color: #ffffff;
  width: 95%;
  height: 10%;
  animation-name: effect;
  animation-duration: 2s;
  z-index: -1;
  border-radius: 5px;
  transform: translate(20px, 10px);
}

@keyframes effect {
  0%   {width:10px; height: 10px; opacity: 0; transform: translate(-20px, -10px);}
  100% {width: 95%; height: 10%; opacity: 60%; transform: translate(20px, 10px);}
}

.contentText a{
  transition: .5s;
  padding-top: 1.5em;
  text-decoration: none;
  color: #1F2833;
}

.contentText a:hover{
  letter-spacing: .2em;
  transform: translateY(-.25em);
}

.portfolio-links {
  padding: 2em 0 0 0;
}

.title {
  letter-spacing: .2em;
  transition: .3s;
  font-family: 'Trajan';
  font-size: 2.5em;
  font-weight: 900;
  padding: .6em 0 .4em 0;
  text-transform: uppercase;  
}

.go-dark {
  color: #66FCF1;
  transition: .3s all;
  background-image: linear-gradient(to bottom right, #2f4258 20em, #0B0C10);
}

.go-dark .effect {
  background-color: #051a19;
}

.go-dark .contentText{
  color: #66FCF1;
}

.go-dark a {
  color: #66FCF1 !important;
}

.go-dark a:link {
  color: #66FCF1;
}

/* visited link */
.go-dark a:visited {
  color: #66FCF1;
  text-decoration: none;
}

/* selected link */
.go-dark a:active {
  color: #66FCF1;
}


.go-dark::after {
  color: #66FCF1;
  transition: .3s all;
}


.moon {
  width: 1.2em;
  height: 1.2em;
  transition: .5s;
}

.moon:hover {
  transform: translateY(-1.5px);
  color: white;
}

.fill-height {
  min-height: 100%;
  max-height: 100%;
}

.fill-width {
  min-width: 90%;
  max-width: 90%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}



/* Code adapted from https://alvarotrigo.com/blog/css-text-animations/ #10 by Brian Tracy */
.letters {
  transform: scale(0.5);
  animation: scale 1.5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span, .content {
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1), .content {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* Adapted code end */


.navigation {
  font-size: 1.5em;
}

.navigation a {
  transition: all .3s ease-in-out !important;
  color: #1F2833;
}

/* unvisited link */
.navigation a:link {
  color: #1F2833;
}

/* visited link */
.navigation a:visited {
  color: #1F2833;
  text-decoration: none;
}

/* mouse over link */
.navigation a:hover {
  letter-spacing: .15em;
  text-decoration: none;
  transform: translateY(-.25em);
}

/* selected link */
.navigation a:active {
  color: #1F2833;
}

footer svg {
  width: 1.1em;
  height: 1.1em;
  color: #235b58;
  transition: all .3s ease-in-out;
}

.go-dark svg {
  color:#66FCF1;
}

footer svg:hover {
  text-decoration: none;
  transform: translateY(-.25em);
  color: #66FCF1;
  filter: drop-shadow(2px 4px 2px rgb(0 0 0 / 0.4));
  transition: all .3s ease-in-out;
}

.go-dark svg:hover {
  text-decoration: none;
  color: white;
}


/* Start code adapted from https://www.30secondsofcode.org/css/s/hover-underline-animation edited by Atai Nail*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 70%;
  transform: scaleX(0);
  height: .2em;
  top: 1.05em;
  bottom: 0;
  left: 25%;
  opacity: 70%;
  background-color: #89eff3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* End Code */

.background {
  position: absolute;
  top: 0;
  z-index: -1;
  animation-name: circles;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  text-shadow: 2px 2px 2px white;
}

@keyframes circles {
  0%   {opacity: 0%; transform: translate(20px, 30px);}
  50%  {opacity: 10%;}
  100% {opacity:  0%;}
}

/* Medium Screens */
@media (min-width: 768px) {

  .moon {
    padding: 0 .7em 0 0;
  }

  footer {
    transform: scale(1);
    padding: 0 0 .5em 0;
  }
}

/* Large Screens */
@media (min-width: 992px) {
  .contentText {
    width: 80%;
    padding: 5em 0 0 1.1em ;
    font-size: 1.5em;
    height: 70%;
    box-sizing: content-box;  
  }

  .title{   
    font-size: 4em;
  }

  footer {
    transform: scale(1);
    padding: 0 0 .5em 0;
  }

  .navigation {
    font-size: 1.9em;
    width: 2em;
    padding: 3.5em 5em 0 0;
  }

  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 350%;
    transform: scaleX(0);
    height: .2em;
    top: 1.05em;
    bottom: 0;
    left: 25%;
    opacity: 70%;
    background-color: #89eff3;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

}
